@charset "utf-8";
/* CSS Document */
/* Secondary CSS template, content straight down the middle, larger container */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background: #E9E9E9;
	
}
/* Header of page, add logo in future */
.header {
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  text-align: center;
  padding: 1rem;
}

.footer {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	padding: 1px;
	margin-top: 3rem;
	background-color: #333;
	color: white;
	
}
/* Navigation Layout! */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
	float: left;
}
.navigation {
  overflow: hidden;
  background-color: #333;
}

/* Navigation links */

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li.dropdown {
	display:inline-block;
}

/* Dropdown links */
.navigation a:hover {
  background-color: #ddd;
  color: black;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Container for main content of pages */
.container {
	box-shadow: 0.5rem 0.5rem 2rem #999;
	padding: 1rem;
	width: 100ch;
	margin: auto;
	margin-top: 1rem;
	background-color: #F7F7F7;
}
/* Content goes in container */
.content {
	margin: 0 auto;
	text-align: center;
}

h3 a {
	color: black;
}

/* Basic image styling */
img {
	padding: 1rem;
	padding-left: 10rem;
	margin: auto;
}